
<div>
  <%= flash[:notice] %>
</div>

<P>
<strong>title:</strong>
<%=@book.title %>
</P>

<P>
<strong>body:</strong>
<%=@book.body %>
</p>

<%= link_to "edit", edit_book_path(@book.id) %>
<a href="/books">back</a>
